<!DOCTYPE html>
<div class="login-container">
  <form class="login-form" @submit.prevent="login()">
    <center>
      <img
        src="/icons/avatar-default-symbolic.svg"
        alt="Default Avatar Symbolic"
        class="avatar-symbolic"
      />
      <h2 class="login-title" x-text="$i18n.login"></h2>
      <hr />

      <div class="entry-rows">
        <label for="email"></label>
        <input
          type="email"
          id="email"
          name="email"
          :placeholder="$i18n.email"
          x-model="email"
          required
        />
        <br />
        <label for="password"></label>
        <input
          type="password"
          id="password"
          name="password"
          :placeholder="$i18n.password"
          x-model="password"
          required
        />
      </div>

      <div class="options">
        <label for="remember-me">
          <input
            type="checkbox"
            x-model="remember"
            id="remember-me"
            name="remember-me"
          />
          <span x-text="$i18n.rememberMe"></span>
        </label>
        <a
          href="/forgot-password"
          class="forgot-password hyperlink"
          x-text="$i18n.forgotPassword"
        ></a>
      </div>

      <button
        type="submit"
        class="submit-button"
        :disabled="loading"
        x-text="loading ? $i18n.loggingIn : 'Login'"
      ></button>

      <div
        class="error-message"
        x-show="error"
        style="color: red; margin-top: 1em"
      >
        <span x-text="error"></span>
      </div>

      <div class="new-user">
        <p>
          <span x-text="$i18n.noAccount"></span>
          &nbsp;
          <a class="hyperlink" href="/register" x-text="$i18n.signup"></a>
        </p>
      </div>
    </center>
  </form>
</div>
