<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import "login.scss";
    </style>
    <title>Login Page</title>
  </head>
  <body>
    <x-node-test></x-node-test>
    <x-header></x-header>
    <x-body>
      <div class="login-container">
        <form class="login-form">
          <center>
            <i class="avatar-symbolic"></i>
            <h2 class="login-title">Login</h2>
            <hr />

            <div class="entry-rows">
              <label for="email"></label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Email"
                required
              />
              <br />
              <label for="password"></label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Password"
                required
              />
            </div>

            <div class="options">
              <label for="remember-me">
                <input type="checkbox" id="remember-me" name="remember-me" />
                Remember me
              </label>
              <a href="/forgot-password" class="forgot-password hyperlink"
                >Forgot password?</a
              >
            </div>

            <button type="submit" class="login-button">Login</button>

            <div class="new-user">
              <p>
                Don't have an accout?
                <a class="hyperlink" href="/register">Signup</a>
              </p>
            </div>
          </center>
        </form>
      </div>
    </x-body>
    <x-footer></x-footer>
  </body>
</html>
