<!DOCTYPE html>

<div class="login-form-container">
    <form class="login-form" @submit.prevent="login()">
        <x-icon name="avatar-default-symbolic" class="icon"></x-icon>
        <h1 x-text="$i18n.login"></h1>
        <hr>
        <div class="input-box">
            <span x-bind:data-tooltip="getErrorMessage('email')">
                <x-icon data-field="email" class="left-symbolic"
                    :name="getErrorMessage('email') !== '' ? 'dialog-warning-symbolic' : 'email-symbolic'">
                </x-icon>
            </span>
            <input type="text" x-model="email" :placeholder="$i18n.email" required />
        </div>

        <div class="input-box">

            <span x-bind:data-tooltip="getErrorMessage('password')">
                <x-icon data-field="password" class="left-symbolic"
                    :name="getErrorMessage('password') !== '' ? 'dialog-warning-symbolic' : 'password-symbolic'">
                </x-icon>
            </span>

            <input :type="revealPassword ? 'text' : 'password'" x-model="password" id="password" :placeholder="$i18n.password"
                required autocomplete="new-password" />
            <template x-if="!revealPassword">
                <x-icon class="right-symbolic" name="view-conceal-symbolic" @click="revealPassword = true"></x-icon>
            </template>
            <template x-if="revealPassword">
                <x-icon class="right-symbolic" name="view-reveal-symbolic" @click="revealPassword = false"></x-icon>
            </template>
        </div>
        <div class="remember">
            <label><input type="checkbox" x-model="remember" />
                <span x-text="$i18n.rememberMe"></span>
            </label>
            <a href="#" x-text="$i18n.forgotPassword"></a>
        </div>
        <button type="submit" x-text="loading ? $i18n.loggingIn : $i18n.login"></button>

        <p>
            <span x-text="$i18n.noAccount"></span>&ensp;<a href="/register" x-text="$i18n.signup"></a>
        </p>
    </form>
</div>