<!DOCTYPE html>

<div class="register-form-container">
    <form class="register-form" @submit.prevent="register()">
        <h1 x-text="$i18n.signup"></h1>
        <hr>

        <div class="input-box">
            <span x-bind:data-tooltip="getErrorMessage('username')">
                <x-icon data-field="username" class="left-symbolic"
                    :name="getErrorMessage('username') !== '' ? 'dialog-warning-symbolic' : 'username-symbolic'">
                </x-icon>
            </span>
            <input type="text"
                data-field-name="username"
                x-model="username"
                :placeholder="$i18n.username"
                required />
        </div>

        <div class="input-box">
            <span x-bind:data-tooltip="getErrorMessage('email')">
                <x-icon data-field="email" class="left-symbolic"
                    :name="getErrorMessage('email') !== '' ? 'dialog-warning-symbolic' : 'email-symbolic'">
                </x-icon>
            </span>
            <input type="text"
                data-field-name="email"
                x-model="email"
                :placeholder="$i18n.email"
                required />
        </div>

        <div class="input-box">
            <span x-bind:data-tooltip="getErrorMessage('password')">
                <x-icon data-field="password" class="left-symbolic"
                    :name="getErrorMessage('password') !== '' ? 'dialog-warning-symbolic' : 'password-symbolic'">
                </x-icon>
            </span>
            <input :type="revealPassword ? 'text' : 'password'"
                data-field-name="password"
                x-model="password"
                :placeholder="$i18n.password"
                required />

            <template x-if="!revealPassword">
                <x-icon class="right-symbolic"
                    name="view-conceal-symbolic"
                    @click="revealPassword = true">
                </x-icon>
            </template>

            <template x-if="revealPassword">
                <x-icon class="right-symbolic"
                    name="view-reveal-symbolic"
                    @click="revealPassword = false">
                </x-icon>
            </template>
        </div>

        <div class="input-box">
            <span x-bind:data-tooltip="getErrorMessage('password-confirmation')">
                <x-icon data-field="password-confirmation" class="left-symbolic password-confirmation"
                    :name="getErrorMessage('password-confirmation') !== '' ? 'dialog-warning-symbolic' : 'password-symbolic'">
                </x-icon>
            </span>
            <input :type="revealConfirmPassword ? 'text' : 'password'"
                data-field-name="password-confirmation"
                x-model="passwordConfirmation"
                :placeholder="$i18n.password"
                required />

            <template x-if="!revealConfirmPassword">
                <x-icon class="right-symbolic"
                    name="view-conceal-symbolic"
                    @click="revealConfirmPassword = true">
                </x-icon>
            </template>

            <template x-if="revealConfirmPassword">
                <x-icon class="right-symbolic"
                    name="view-reveal-symbolic"
                    @click="revealConfirmPassword = false">
                </x-icon>
            </template>
        </div>

        <div class="remember">
            <label>
                <input type="checkbox" x-model="remember">
                <span x-text="$i18n.rememberMe"></span>
            </label>
            <a href="#" x-text="$i18n.forgotPassword"></a>
        </div>

        <button type="submit" class="btnn" x-text="$i18n.signup"></button>

        <p>
            <span x-text="$i18n.hasAccount"></span>&ensp;<a href="/login" x-text="$i18n.login"></a>
        </p>
    </form>
</div>